{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Homero Simpson</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, magnam saepe facilis voluptatibus modi eaque a distinctio aliquam mollitia id, ipsam perferendis quidem voluptas, ex eius quo unde esse pariatur.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}